body {
    font-family: 'Gotham Pro', sans-serif;
    background-color: #f0f0f0;
    text-align: center;
}

.container {
    margin: 100px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    height: 150px;
}

h1 {
    font-size: 24px;
}

#generatedPhrase {
    font-size: 18px;
    font-weight: bold;
    color: #007BFF;
}

button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}
